<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <h2>Pending Payments:</h2>
    <ul>
        {% for payment in payments %}
        <li>From: {{ payment.from_user }} - Amount: {{ payment.amount }} 
            <form method="post" action="/complete_payment">
            <button type="submit">Mark as Complete</button>
            <input type="hidden" name="payment_id" value= "{{ payment._id }}"" >
        </form></li>
        {% endfor %}
    </ul>
    <h2>Request Payment:</h2>
    <form method="post" action="/request_payment">
        <input type="text" name="to_user" placeholder="To User" required>
        <input type="number" name="amount" placeholder="Amount" required>
        <button type="submit">Request Payment</button>
    </form>
</body>
</html>
